<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="form-container">
  <h2>Create</h2>
  <form action="/pets/add/pet" method="POST">
    <div class= "form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" id="age" name="age" required />
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" name="birthday" required />
    </div>


    <div class="form-group">
      <label for="type">Type</label>
      <select id="Type" name="type" required>
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Fish">Fish</option>
        <option value="Cow">Cow</option>
        <option value="Horse">Horse</option>
        <option value="Snake">Snake</option>
        <option value="Insect">Insect</option>
        <option value="Hamster">Hamster</option>
        <option value="Rabbit">Rabbit</option>
        <option value="Parrot">Parrot</option>
      </select>
    </div>

    <div class="form-group">
      <label for="breed">Breed</label>
      <input type="text" id="breed" name="breed" required />
    </div>

<!--    <label for="placePhotos">Photo:</label>-->
<!--    <input type="file" id="placePhotos" name="photo" accept="image/*" />-->

    <div class="form-group">
      <input type="submit" value="Create" />
    </div>
  </form>
</div>
</div>
</body>
</body>
</html>